# Environment
music_venv/
.env
*.pyc
__pycache__/

# Data files
Data/
adata/
*.pb
variables/
data.json

# IDE
.idea/
.vscode/
*.ipynb_checkpoints/

# System
.DS_Store
.ipynb_checkpoints/

# Model files
*.pb
variables/
keras_metadata.pb
